Source: speg
Section: python
Priority: optional
Maintainer: Norbert Preining <norbert@preining.info>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3-all-dev,
               python3-setuptools,
               python3-pkgconfig
Standards-Version: 4.2.1
Homepage: https://github.com/avakar/speg
Vcs-Git: https://github.com/norbusan/debian-speg.git
Vcs-Browser: https://github.com/norbusan/debian-speg

Package: python3-speg
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: PEG-based parser interpreter with memoization
 A parser and interpreter based on parsing expression grammar PEG.
